<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">


    <div class="row">
        <div id="col-md-12">
            <div class="alert alert-erro" role="alert" *ngIf="mensagemResposta">
                {{ mensagemResposta }}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="mensagemResposta == 'ERRO' ">
                {{ mensagemResposta }}
            </div>
        </div>
    </div>


    <div id="row">
        <div id="col-md-2">
            <button class="btn btn-warning" (click)="novoCadastro()">
                <i class="fa fa-plus"></i>Novo
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-condensed table-hover table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Email</th>
                        <th>Data Cadastro</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.cpf }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.dataCadastro }}</td>
                        <td>

                            <button class="btn btn-primary" routerLink="/clientes/form/{{ cliente.id }}">
                                <i class="fa fa-edit"></i>Edit
                            </button>

                            <button class="btn btn-danger" (click)="selecionarClienteDeletar(cliente)"
                                data-toggle="modal" data-target="#modalExclusao">
                                <i class="fa fa-trash"></i> Del
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalExclusao" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Confirmação</h4>
                </div>

                <div class="modal-body" *ngIf="clienteDeletar">
                    Deletar o cliente: {{ clienteDeletar.nome }} ,
                    ID: {{ clienteDeletar.id }} ?

                </div>

                <div class="modal-footer">

                    <button class="btn btn-success" (click)="deletarCliente()" data-dismiss="modal">
                        Confirmar
                    </button>

                    <button class="btn btn-danger" data-dismiss="modal">
                        Cancelar
                    </button>

                </div>

            </div>
        </div>
    </div>

</div>